@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html {
	font-size: 18px;
}

body {
	background-color: var(--color-cream);
	color: #111;
}

a {
	text-decoration: underline;
}

a:hover {
	color: #666;
}
